@import "./styles/variables";
@import "./styles/mixins";

.header {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease .3s;
  padding: 50px;
}

.header__menu {
  @include list-unstyled;
  margin: 0;
  display: flex;
  align-items: center;
  li {
    margin-right: 30px;
    a {
      color: $black;
      font-weight: 700;
      font-size: 18px;
    }
    &.current-menu-item {
      a {
        text-decoration: underline;
      }
    }
  }
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35px;
  cursor: pointer;
}

.header__languageSwitcher {
  a {
    color: $black;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
  }
}
