@import "../../../styles/variables";

.slider {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider__wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

.slider__siteName,
.slider__siteNameOverlay {
  position: absolute;
  z-index: 2;
  font-size: 82px;
  text-align: center;
  font-weight: 900;
  transform: translateY(-50%);
  color: $black;
}

.slider__siteNameOverlay {
  z-index: 3;
  opacity: .5;
}

.slider__siteName {
  opacity: 1;
  mix-blend-mode: color-burn;
  z-index: 1;
}

.slider__single {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
}

.slider__singleSubtitle {
  font-size: 32px;
  font-weight: 300;
  display: inline;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.slider__singleSubtitleTransition {
  margin: 0 8px;
}

.slider__scrollIndicator {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  g:nth-of-type(2) {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(6px);
  }
}
