@import "../../../styles/variables";

.slider {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider__wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

.slider__siteName {
  position: absolute;
  z-index: 2;
  font-size: 92px;
  text-align: center;
  font-weight: 900;
  transform: translateY(-50%);
}

.slider__siteName {
  opacity: 1;
  mix-blend-mode: color-burn;
  z-index: 1;
  color: $black;
}

.slider__single {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
}

.slider__singleSubtitle {
  font-size: 32px;
  font-weight: 300;
  display: inline;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.slider__singleSubtitleTransition {
  margin: 0 8px;
}
