@import "variables";

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

hr {
  border: unset;
  border-bottom: 1px solid $gray;
  margin: $space-3 0;
}
